@(branch: com.faacets.comp.PathBranch)

@main("Faacets.com") {
@path(branch.path)

<main class="bs-masthead" id="content" role="main">
  <div class="container">
    <span class="bs-booticon bs-booticon-lg bs-booticon-outline"><h1 style="color: #000;">Database of Bell inequalities</h3></span>
    <p class="lead">
      <a href="/db/canonical" class="btn btn-outline btn-lg">Canonical inequalities</a>
      <a href="/db/pubs" class="btn btn-outline btn-lg">From the literature</a>
      <a href="/db/solved" class="btn btn-outline btn-lg">Solved scenarios</a>
    </p>
  </div>
</main>

<div class="row">
  <div class="panel">
    @(Text.fromMarkdownFile("db.md"))}
  </div>
</div>
