@(leaf: com.faacets.comp.PathLeaf, graph: Graph)

@scripts = {
<style>
 .tooltipsy
 {
   padding: 10px;
   max-width: 200px;
   color: #303030;
   background-color: #eeeeee;
   border: 1px solid #333333;
 }

svg {
    overflow: hidden;
}

.node rect {
    stroke: #333;
    stroke-width: 1.5px;
    fill: #fff;
}

.edgeLabel rect {
    fill: #fff;
}

.edgePath {
    stroke: #333;
    stroke-width: 1.5px;
    fill: none;
}
</style>
<script type="text/javascript" src="@routes.Assets.at("javascripts/shCore.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/shBrushYaml.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/tooltipsy.min.js")"></script>
<script type="text/javascript">SyntaxHighlighter.all();</script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/dagre-d3.js")"></script>
<script type="text/javascript">

function showOnly(id) {
   @for(n <- graph.nodes) {
     if (@(n.id) === id)
        $('#tex@(n.id)').show();
     else
        $('#tex@(n.id)').hide();
   }
}
</script>
<script type="text/javascript">
 $(function() {
   
   // Create a new directed graph
   var g = new dagreD3.Digraph();
   @for(n <- graph.nodes) {
     g.addNode("expr@(n.id)", { label: "<div style='padding:10px'><a href='@(n.link.getOrElse("#"))' onmouseover='showOnly(@(n.id))'>@(n.label)</a></div>" });
   }
   
   @for(e <- graph.edges) {
     @e.tooltip match {
       case Some(text) => {
	   g.addEdge(null, "expr@(e.from)", "expr@(e.onto)", { label: "<span class='hastip' title='@(text)'>@(e.label)</span>" });
}

case None => {	 
g.addEdge(null, "expr@(e.from)", "expr@(e.onto)", { label: "@(e.label)" });
       }
     }
   }
   
   var renderer = new dagreD3.Renderer();
   var layout = renderer.run(g, d3.select("svg g"));

   d3.select("svg")
     .attr("width", layout.graph().width + 40)
			  .attr("height", layout.graph().height + 40);
     $('.hastip').tooltipsy({delay: 0, offset: [10, 0]});
});
</script>
}

@main(leaf.path.mkString("/"), scripts) {
@path(leaf.path)

<div>
  <div class="row" style="margin-top:20px"></div>
  <ul class="nav nav-tabs">
    <li><a href='@(Application.pathToUrl(leaf.path))'>Bell Expression</a></li>
    <li class="active"><a href='@(Application.pathToUrl(leaf.path)+".decomposition")'>Decomposition</a></li>
    <li><a href='@(Application.pathToUrl(leaf.path)+".yaml")'>Yaml source</a></li>
  </ul>
  <div class="row" style="margin-top:20px"></div>

  <div class="row">
    <div class="col-lg-6">
      <div class="panel">
	<div class="panel-heading">
	  <h3 class="panel-title">Decomposition</h3>
	</div>
	
	<svg width=650 height=680>
	  <g transform="translate(20,20)"/>
	</svg>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="panel">
	<div class="panel-heading">
	  <h3 class="panel-title">Bell expression</h3>
	</div>
	      @for(n <- graph.nodes) {
	<div id='tex@(n.id)' style='display:none; overflow:auto; white-space: nowrap'>
										      $$  @(n.tex) $$
	</div>
	      }
      </div>
    </div>
  </div>
</div>
}
