@(leaf: com.faacets.comp.PathLeaf, bellExpression: com.faacets.BellExpression, crossRefs: Seq[(String, String)])

@scripts = {
<script type="text/javascript" src="@routes.Assets.at("javascripts/xregexp.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/shAutoloader.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/shLegacy.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/shCore.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/shBrushYaml.js")"></script>
<script type="text/javascript">$(function() {SyntaxHighlighter.all();});</script>
}

@main(leaf.path.mkString("/"), scripts) {
@path(leaf.path)

<div>
<div class="row" style="margin-top:20px"></div>
  <ul class="nav nav-tabs">
    <li class="active"><a href='@(Application.pathToUrl(leaf.path))'>Bell Expression</a></li>
    <li><a href='@(Application.pathToUrl(leaf.path)+".decomposition")'>Decomposition</a></li>
    <li><a href='@(Application.pathToUrl(leaf.path)+".yaml")'>Yaml source</a></li>
  </ul>
  <div class="row" style="margin-top:20px"></div>
  @expression(bellExpression, crossRefs)
  </div>
</div>
}
