@(folder: com.faacets.impl.Folder, ineqTable: DataTable)

@import com.faacets.impl._

@scripts = {
<script src="@routes.Assets.at("javascripts/alphanum.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/jquery.dataTables.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/jquery.dataTables.columnFilter.js")" type="text/javascript"></script>
<script>
 jQuery.fn.dataTableExt.oSort['alpha-num-asc']  = function(a,b) {
   return alphanumCase(a,b);
 };

 jQuery.fn.dataTableExt.oSort['alpha-num-desc'] = function(a,b) {
   return -alphanumCase(a,b);
 };
</script>
@datatablescript(ineqTable)
}

@main(folder.path.mkString("/"), scripts) {
  @path(folder.path)

  @for(subfolder <- folder.subfolders.values) {
  <li><a href="@(Application.pathToUrl(subfolder.path))">@(subfolder.key)</a>
    @(subfolder) match {
      case sf: StandardFolder => {with @(sf.totalNumberOfInequalities) @(if(sf.totalNumberOfInequalities == 1) "inequality" else "inequalities")}
      case cf: CanonicalFolder => { }
      case rf: RootFolder => { }
    }
  </li>
  }
  
  @if(!ineqTable.rows.isEmpty) {
  <div class="row">
    <div class="col-lg-10">
			   @datatable(ineqTable)
    </div>
    <div class="col-lg-2">
      <div class="panel">
	<div class="panel-heading">
	  <h3 class="panel-title">Filters</h3>
	</div>
	<p><span id="keyFilter"></span></p>
	<p><span id="liftedFilter"></span> <span id="productFilter"></span></p>
	<table>
	  <tbody>
	    <tr>
	      <td>Parties</td><td id="partiesFilter"></td>
	    </tr>
	    <tr>
	      <td>Inputs</td><td id="inputsFilter"></td>
	    </tr>
	    <tr>
	      <td>Outputs</td><td id="outputsFilter"></td>
	    </tr>
	    <tr>
	      <td>Repr.</td><td id="reprFilter"></td>
	    </tr>
	  </tbody>
	</table>
      </div>
    </div>
  </div>
  }
}
