@(branch: com.faacets.comp.PathBranch, subfolders: Seq[com.faacets.comp.PathBranch], table: GenDataTable)

@scripts = {
<script src="@routes.Assets.at("javascripts/alphanum.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/jquery.dataTables.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/jquery.dataTables.columnFilter.js")" type="text/javascript"></script>
<script>
 jQuery.fn.dataTableExt.oSort['alpha-num-asc']  = function(a,b) {
   return alphanumCase(a,b);
 };

 jQuery.fn.dataTableExt.oSort['alpha-num-desc'] = function(a,b) {
   return -alphanumCase(a,b);
 };
</script>
@datatablescript(table)
}

@main(branch.path.mkString("/"), scripts) {
  @path(branch.path)

@if(branch.path.map(_.toString) == Seq("pubs")) {
<h3>Published inequalities</h3>
}
@if(branch.path.map(_.toString) == Seq("solved")) {
<h3>Solved local polytopes for a few scenarios</h3>
}
<ul>
  @for(subfolder <- subfolders) {
  <li><a href="@(Application.pathToUrl(branch.path :+ subfolder.key))">@(subfolder.key)</a></li>
  }
</ul>

  @if(!table.rows.isEmpty) {
  <div class="row">
    <div class="col-lg-10">
			   @datatable(table)
    </div>
    <div class="col-lg-2">
      <div class="panel">
	<div class="panel-heading">
	  <h3 class="panel-title">Filters</h3>
	</div>
	<p><span id="keyFilter"></span></p>
	<p><span id="ioLiftedFilter"></span> <span id="compositeFilter"></span></p>
	<table>
	  <tbody>
	    <tr>
	      <td>Parties</td><td id="partiesFilter"></td>
	    </tr>
	    <tr>
	      <td>Inputs</td><td id="inputsFilter"></td>
	    </tr>
	    <tr>
	      <td>Outputs</td><td id="outputsFilter"></td>
	    </tr>
	  </tbody>
	</table>
      </div>
    </div>
  </div>
  }
}
