@(highlights: Seq[Highlight])

@scripts = {
}

@main("Faacets.com", scripts) {
<main class="bs-masthead" id="content" role="main">
  <div class="container">
    <span class="bs-booticon bs-booticon-lg bs-booticon-outline"><img src="@(routes.Assets.at("images/big_faacets_logo.png"))" /></span>
    <p class="lead">An open collaboration platform to browse, share and process Bell and Bell-like inequalities.</p>
    <p class="lead">Currently working on <a href="http://docs.faacets.com/roadmap.html#beta-2">Beta 2</a> goals.</p>
    <p class="lead">
      <a href="#" onclick="return false" data-target="highlights" class="animatescrollto btn btn-outline btn-lg">Learn about Bell inequalities</a>
 <a href="/about" class="btn btn-outline btn-lg">Learn about the project</a>
 <a href="/db" class="btn btn-outline btn-lg">Browse the database</a>
    </p>
  </div>
</main>

<script type="text/javascript">
$( '.animatescrollto' ).on('click', function(event) {
    event.preventDefault();
    var target = "#" + $(this).data('target');
    $('html, body').animate({
        scrollTop: $(target).offset().top
    }, 1000);
});
</script>
  <hr class="half-rule">

<div class="jumbotron" id="highlights" style="background-color:#c9e5eb;">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="font-size: 24px; font-weight: 300; line-height: 1">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      @for((highlight, i) <- highlights.zipWithIndex) {
      <li data-target="#carousel-example-generic" data-slide-to="@(i)" class="@(if (i == 0) "active" else "")"></li>
      }
    </ol>
    
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      @for((highlight, i) <- highlights.zipWithIndex) {
      <div class="item@(if (i == 0) " active" else "")" style='background-image: url(@(routes.Assets.at(s"images/contrib/${highlight.id}.jpg")))'>
	<img src="@routes.Assets.at(s"images/contrib/${highlight.id}.png")" alt="@(highlight.id)">
	<div class="carousel-caption" style="font-color: #fff;">
          <a href="highlight/@(highlight.id)" style="color: #fff;">Read more...</a>
	</div>
      </div>
      }
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
</div>
}
