@(bellExpression: com.faacets.BellExpression)

<div>
  <ul class="nav nav-tabs">
    <li class="active"><a href="#inequality" data-toggle="tab">Inequality</a></li>
    <li><a href="#decomposition" data-toggle="tab">Decomposition</a></li>
    <li><a href="#yaml" data-toggle="tab">Yaml source</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="inequality">
      <div class="row" style="margin-top:20px"></div>
      @row1(bellExpression)
      @row2(new VecViewHelper(bellExpression))
      @row3(bellExpression)
    </div>
    <div class="tab-pane" id="decomposition">
<pre class="brush: yaml">
@(bellExpression.decomposition.map(com.faacets.Yaml.saveString(_)).getOrElse("No decomposition available"))
</pre>
    </div>
    <div class="tab-pane" id="yaml">
<pre class="brush: yaml">
@(com.faacets.Yaml.saveString(bellExpression))
</pre>
    </div>
  </div>
</div>
