@(entry: com.faacets.impl.InequalityEntry)

@scripts = {
<script type="text/javascript" src="@routes.Assets.at("javascripts/shCore.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/shBrushYaml.js")"></script>
<script type="text/javascript">SyntaxHighlighter.all();</script>
}

@main(entry.path.mkString("/"), scripts) {
@path(entry.path)
<div>
  <ul class="nav nav-tabs">
    <li class="active"><a href="#inequality" data-toggle="tab">Inequality</a></li>
    <li><a href="#decomposition" data-toggle="tab">Decomposition</a></li>
    <li><a href="#yaml" data-toggle="tab">Yaml source</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="inequality">
      <div class="row" style="margin-top:20px"></div>
      @row1(entry)
      @row2(entry, new VecViewHelper(entry.inequality.bra))
      @row3(entry)
    </div>
    <div class="tab-pane" id="decomposition">
<pre class="brush: yaml">
@(entry.inequality.decomposition.map(com.faacets.Yaml.saveString(_)).getOrElse("No decomposition available"))
</pre>
    </div>
    <div class="tab-pane" id="yaml">
<pre class="brush: yaml">
@(entry.yaml)
</pre>
    </div>
  </div>
</div>
}
