@(bellExpression: com.faacets.BellExpression, crossRefs: Seq[(String, String)])

<div class="row">
  <div class="col-lg-2">
    <div class="panel">
      <div class="panel-heading">
	<h3 class="panel-title">Scenario</h3>
      </div>

      <p>@(bellExpression.scenario.toString)</p>

    </div>
  </div>

  <div class="col-lg-6">
    <div class="panel">
      <div class="panel-heading">
	<h3 class="panel-title">Description</h3>
      </div>
      <p>@((bellExpression.shortName.toSeq ++ bellExpression.names).mkString("/"))</p>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="panel">
      <div class="panel-heading">
	<h3 class="panel-title">Cross references</h3>
      </div>
      @for((title, link) <- crossRefs) {
	<a href='@(link)'>@(title)</a>
      }
    </div>
  </div>
</div>
