@(entry: com.faacets.impl.InequalityEntry, vvh: VecViewHelper)

<div class="row">
  <div class="col-lg-8">
    <div class="panel">
      <div class="panel-heading">
	<h3 class="panel-title">Coefficients</h3>
      </div>
      

      <ul class="nav nav-tabs">
	@for((notation, index) <- vvh.notations.zipWithIndex) {
	  <li class="@(if (index == 0) "active" else "")">
	    <a href="#coeffs-@(notation.id)" data-toggle="tab">@(notation.title)</a>
	  </li>
	}
      </ul>
      <div class="tab-content">
	@for((notation, index) <- vvh.notations.zipWithIndex) {
	  <div class="tab-pane@(if (index == 0) " active" else "")"
	       id="coeffs-@(notation.id)" style="@(notation.style)">
	    @(notation.content)
	  </div>
	}
      </div>
      
    </div>
  </div>
  <div class="col-lg-4">
    <div class="panel">
      <div class="panel-heading">
	<h3 class="panel-title">Bounds</h3>
      </div>
      
      <ul>
	@for((key, value) <- entry.inequality.bounds) {
	  <li>@(key) : @(value.toString)
	    @if(entry.inequality.facetOf.getOrElse(key, false)) {
	      (facet)
	    }
	  </li>
	}
      </ul>
    </div>
  </div>
</div>
