@(graph: Graph)

@scripts = {
<style>
svg {
    overflow: hidden;
}

.node rect {
    stroke: #333;
    stroke-width: 1.5px;
    fill: #fff;
}

.edgeLabel rect {
    fill: #fff;
}

.edgePath {
    stroke: #333;
    stroke-width: 1.5px;
    fill: none;
}
</style>
<script type="text/javascript" src="@routes.Assets.at("javascripts/shCore.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/shBrushYaml.js")"></script>
<script type="text/javascript">SyntaxHighlighter.all();</script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://cpettitt.github.io/project/dagre-d3/v0.1.5/dagre-d3.min.js"></script>
<script type="text/javascript">
 $(function() {
   
   // Create a new directed graph
   var g = new dagreD3.Digraph();
   @for(n <- graph.nodes) {
     g.addNode("expr@(n.id)", { label: "@(n.label)" });
   }
   
   @for(e <- graph.edges) {
     g.addEdge(null, "expr@(e.from)", "expr@(e.onto)", { label: "@(e.label)" });
   }
   
   var renderer = new dagreD3.Renderer();
   var layout = renderer.run(g, d3.select("svg g"));

   d3.select("svg")
     .attr("width", layout.graph().width + 40)
			  .attr("height", layout.graph().height + 40);
});
</script>
}

@main("Inequality decomposition", scripts) {
<div class="row" style="margin-top:20px"></div>

<div class="row">
  <div class="col-lg-6">
    <div class="panel">
      <div class="panel-heading">
	<h3 class="panel-title">Decomposition</h3>
      </div>

      <svg width=650 height=680>
	<g transform="translate(20,20)"/>
      </svg>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="panel">
      <div class="panel-heading">
	<h3 class="panel-title">Bell expression</h3>
      </div>

    </div>
  </div>
</div>
}
